.magnet-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px auto 0;

  cursor: pointer;
}

.ball {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
}

.arrow-svg {
  position: absolute;
  left: 40px;
  top: 40px;
  transform: translate(-4%, -4%);
  width: 36px;
  height: 36px;
  pointer-events: none;
  will-change: transform;
}
